<% layout('layout/boilerPlate') %>

<body>
    <div class="container">
        <h3 class="text-center">Received Orders</h3>
        <div class="row d-flex justify-content-center m-3">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-warning">
                            <td>Id</td>
                            <td>Name</td>
                            <td>Payment</td>
                            <td>Quantity</td>
                            <td>Created At</td>
                            <td>Payment Status</td>
                            <td>Payment Method</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i = 1;
                        for(order of orders){ %>
                        <tr>
                            <td><%= i++ %></td>
                            <td><%= order.user.username %></td>
                            <td>Rs. <%= order.payment %></td>
                            <td><%= order.quantity %></td>
                            <td><%= new Date(order.createdAt).toISOString().split('T')[0] %></td>
                            <td><%= order.payment_status %></td>
                            <td><%= order.payment_method %></td>
                            <td><a href="" class="btn btn-warning"><%= order.status %></a></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>